name: Acceptance tests

on:
  workflow_call:
    secrets:
      tl_client_id:
        required: true
      tl_client_secret:
        required: true
      tl_signing_key_id:
        required: true
      tl_signing_private_key:
        required: true

jobs:
  acceptance-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Acceptance tests in sandbox
        env:
          TL_CLIENT_ID: ${{ secrets.tl_client_id }}
          TL_CLIENT_SECRET: ${{ secrets.tl_client_secret }}
          TL_SIGNING_KEY_ID: ${{ secrets.tl_signing_key_id }}
          TL_SIGNING_PRIVATE_KEY: ${{ secrets.tl_signing_private_key }}
        run: ./gradlew acceptance-tests