# Reusable workflow to run the acceptance tests, referenced by workflow-*.yml pipelines.
name: Acceptance tests in Sandbox environment

on:
  workflow_call:
    inputs:
      checkout_ref:
        description: 'The reference to checkout before running the acceptance tests. Used to run the tests on a fork.'
        required: true
        type: string
      notify_slack_on_failure:
        description: 'Whether to notify slack or not.'
        required: false
        default: true # FIXME: false by default
        type: boolean
      notify_slack_tags:
        description: 'The tags to notify slack on.'
        required: false
        default: '@adl' #FIXME: add payIn?
        type: string
    secrets:
      tl_client_id:
        required: true
      tl_client_secret:
        required: true
      tl_signing_key_id:
        required: true
      tl_signing_private_key:
        required: true
      slack_webhook_url:
        required: false

jobs:
  acceptance-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.checkout_ref }}
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Acceptance tests in sandbox
        env:
          TL_CLIENT_ID: ${{ secrets.tl_client_id }}
          TL_CLIENT_SECRET: ${{ secrets.tl_client_secret }}
          TL_SIGNING_KEY_ID: ${{ secrets.tl_signing_key_id }}
          TL_SIGNING_PRIVATE_KEY: ${{ secrets.tl_signing_private_key }}
        run: ./gradlew acceptance-tests
  notify-slack:
    needs: acceptance-tests
    runs-on: ubuntu-latest
    if: ${{ always() && contains(needs.*.result, 'failure') && inputs.notify_slack_on_failure == true }}
    steps:
      - name: Notify slack
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook_url }}
          # type is required for custom payloads
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":warning: :java: *Acceptance tests* are failing in `Sandbox` on our <https://github.com/TrueLayer/truelayer-java|Java client library>!\n${{ inputs.notify_slack_tags }}"
                  }
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": ":eyes: View on Github"
                      },
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                    }
                  ]
                },
                {
                  "type": "image",
                  "title": {
                    "type": "plain_text",
                    "text": "I don't like that",
                    "emoji": true
                  },
                  "image_url": "https://media.giphy.com/media/4cuyucPeVWbNS/giphy.gif",
                  "alt_text": "marg"
                }
              ]
            }