# Reusable workflow to run the acceptance tests, referenced by workflow-*.yml pipelines.
name: Acceptance tests in Sandbox environment

on:
  workflow_call:
    inputs:
      checkout_ref:
        description: 'The reference to checkout before running the acceptance tests. Used to run the tests on a fork.'
        required: true
        type: string
      notify_slack_on_failure:
        description: 'Whether to notify slack or not.'
        required: false
        default: false
        type: boolean
    secrets:
      tl_client_id:
        required: true
      tl_client_secret:
        required: true
      tl_signing_key_id:
        required: true
      tl_signing_private_key:
        required: true
      slack_webhook_url:
        required: false

jobs:
  acceptance-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.checkout_ref }}
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Acceptance tests in sandbox
        env:
          TL_CLIENT_ID: ${{ secrets.tl_client_id }}
          TL_CLIENT_SECRET: ${{ secrets.tl_client_secret }}
          TL_SIGNING_KEY_ID: ${{ secrets.tl_signing_key_id }}
          TL_SIGNING_PRIVATE_KEY: ${{ secrets.tl_signing_private_key }}
        run: ./gradlew acceptance-tests
      - uses: actions/upload-artifact@v4
        name: Upload test results as artifact
        if: always()
        with:
          name: test-results
          path: ./build/test-results
  notify-slack:
    needs: acceptance-tests
    runs-on: ubuntu-latest
    if: ${{ always() && contains(needs.*.result, 'failure') && inputs.notify_slack_on_failure == true }}
    steps:
      - uses: actions/download-artifact@v4
        name: Download test results artifacts
        with:
          name: test-results
          path: ./build/test-results
      - uses: dili91/testvox@v0.1.0
        name: Generate Slack report from Junit results
        id: generate_slack_report
        with:
          include_skipped: true
      - name: Send Slack report
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: ${{steps.generate_slack_report.outputs.report}}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook_url }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK