name: Acceptance tests

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    secrets:
      coveralls_repo_roken:
        required: true

jobs:
  coverage:
    name: Test coverage analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Test coverage
        run: ./gradlew jacocoTestReport coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.coveralls_repo_roken }}
          CI_BRANCH: ${{ inputs.branch }}