name: Release snapshot version

on:
  push:
    branches-ignore:
      - 'main'
    tags-ignore:
      - '**'

jobs:
  coverage:
    name: Test coverage analysis
    uses: ./.github/workflows/coverage.yml
    with:
      branch: ${{ github.head_ref }}
    secrets:
      coveralls_repo_token: ${{ secrets.COVERALLS_REPO_TOKEN }}
  build:
    name: Build and tests
    uses: ./.github/workflows/build.yml
  #todo: extract in separate action: we need to test this in both snapshot and final versions
  contract-tests:
    name: Contract tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Run contract tests
        run: ./gradlew contract-tests
      - name: Publish pact file to the Pact broker
        env:
          PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
          PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
        run: ./gradlew pactPublish
  acceptance-tests:
    name: Acceptance tests in Sandbox environment
    needs: build
    uses: ./.github/workflows/acceptance-tests.yml
    secrets:
      tl_client_id: ${{ secrets.ACCEPTANCE_TEST_CLIENT_ID }}
      tl_client_secret: ${{ secrets.ACCEPTANCE_TEST_CLIENT_SECRET }}
      tl_signing_key_id: ${{ secrets.ACCEPTANCE_TEST_SIGNING_KEY_ID }}
      tl_signing_private_key: ${{ secrets.ACCEPTANCE_TEST_SIGNING_PRIVATE_KEY }}
  release-snapshot:
    name: Release to Nexus snapshots repository
    runs-on: ubuntu-latest
    needs: [build, acceptance-tests]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Create Snapshot version
        run: |
          echo "project_version_snapshot=${{needs.build.outputs.project_version}}-${GITHUB_REF##*/}-SNAPSHOT" >> $GITHUB_ENV
          echo "Snapshot project version created: ${{env.project_version_snapshot}}"
      - name: Snaphost Semver version check
        run: |
          SNAPSHOT_VERSION_REGEX="^([0-9]+)\.([0-9]+)\.([0-9]+)-${GITHUB_REF##*/}-SNAPSHOT$";
          if [[ "${{env.project_version_snapshot}}" =~ $SNAPSHOT_VERSION_REGEX ]]; then
              echo "Project version ${{env.project_version_snapshot}} is valid"
          else
              echo "Project version ${{env.project_version_snapshot}} is not valid"; exit 1;
          fi
      - name: Publish to Sonatype snapshot repository
        run: ./gradlew -Pversion=${{env.project_version_snapshot}} publishToSonatype
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}